# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/
.history/

# macOS system files
.DS_Store

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.env
.env


# SQLite database files
*.db

# Local user secrets
secrets.yaml
secrets.json

# Logs
*.log

# Ignore static compiled files (optional)
*.min.js
*.min.css

# Ignore model artifacts or temp ML files
*.pkl
*.joblib
*.h5
.DS_Store